SERVERSENSE_CONFIG_DIR=./config
TZ=Etc/UTC
SERVERSENSE_DEMO_MODE=true
SERVERSENSE_SECRET_KEY=replace-with-a-long-random-value
SERVERSENSE_LOG_LEVEL=INFO
SERVERSENSE_METRICS_INTERVAL_SECONDS=30
SERVERSENSE_ACTIVE_METRICS_INTERVAL_SECONDS=5
SERVERSENSE_DOCKER_INTERVAL_SECONDS=30
SERVERSENSE_ACTIVE_DOCKER_INTERVAL_SECONDS=15
SERVERSENSE_DISK_INTERVAL_SECONDS=900
